*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
section{
    margin: 0 50px;
    padding-top: 80px;
}
h2{
    font-family: 'Sora';
    font-weight: 400;
    font-size: 70px; 
    align-items: center;
    text-transform: uppercase;
    color: #4F6A7B;
    
}
p{
    font-family: 'Sora';
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    
}
header{
    background-image: url(../images/1.png);
    background-repeat: no-repeat;
    height: 90vh;
    position: relative;
}
.main-header{
    display: flex;
    flex-wrap: wrap;
    padding: 14px;
    justify-content: space-between;
    align-items: center;
}
.logo{
    flex-basis: 20%;
    text-align: center;
   
}
.navgation{
    flex-basis: 80%;
    
}
.navgation nav ul{
    display: flex;
    float: right;
}
.navgation nav ul li{
list-style: none;
padding: 10px;
margin: 5px;
}
.navgation nav ul li a{
    color: #ffff;
    font-family: 'Sora', sans-serif;
   

}
.header-text{
    position: absolute;
    left: 80px;
    top: 415px;
    
    font-family: 'Sora', sans-serif;
    color: #ffff;
    
}
.header-text h1{
    font-weight: 100;
    font-size: 94px;
    
  
    
}
.cmp-name{
    font-weight: 900;
}
.header-text p{
    width: 700px;
}
.part-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.text-part{
    flex-basis: 50%;
}
.image-part{
    flex-basis: 50%;
}
.text-part h2{
    padding-right: 49px;
}
.text-part p{
    color: #3C3B3B;

}

.image-part-2 img{
    width: 100%;
    height: auto;

}
.text-part-2{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
}
.left-text{
    flex-basis: 50%;
}
.left-text p{

    color: #3C3B3B;
}
.right-text{
    flex-basis: 50%;
}
.right-text h2{
    text-align: right;

}
.part-4{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.images-part-4{
    flex-basis: 50%;
}
.text-part-4{
    flex-basis: 50%;
}
.text-part-4 p{
    color: #4F6A7B;
}
.images-part-4 img{
 float: right;
   height: auto;
}
.part-5{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image-part-5{
    margin-right: 153px;
}
.text-part-5 p{
    color: #4F6A7B;
}
/* start service css */
.src-first{
    margin: 0;
    padding: 0;
}
.src-prt-first img{
    width: 100%;

}
.src-prt-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.src-prt-1-text{
    flex-basis: 50%;
    padding: 0px 50px;

}
.src-prt-1-img{
    flex-basis: 50%;
}
.src-prt-1-img img{
    width: 100%;
}
.src-prt-1-text p{
    color: #4F6A7B;
 
}

.src-prt-1-text-img-left{
    padding-left: 90px;
}
.src-prt-1-text-img-right{
    padding-left: 40px;
}
.src-header{
    background-image: url(../images/src\ bg.jpg);
}
/* capabilites css start */
.cpbts-head{
    background-image: url(../images/capabilites\ bg.png);
}
.capabilites-first{
    text-align: left !important;
}
.capabilites-last{
    margin: 0;
}
/* start products page style */
.product-head{
    background-image: url(../images/v01_blur-20\ 1.jpg);
}
.pro-h2{
    font-size: 40px !important;
}
.pro-cal{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.child{
    flex-basis: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
.child-image{
    flex-basis: 50%;
}
.child-image img{
    width: 100%;
   height: auto;
}
.child-desc{
    flex-basis: 50%;
}
.child-desc ul li{
    list-style: none;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #3C3B3B;
    align-items: center;
    display: flex;
    margin: 16px 0px;
}
.child-desc ul li img{
    margin-right: 15px;
}